.card {
    min-height: 300px; /* Defina a altura mínima desejada para o card */
    display: flex; /* Usa o modelo de layout flexível */
    flex-direction: column; /* Empilha os elementos verticalmente */
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.card-footer {
    background-color: #f8f9fa;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 1rem;
}

.modal-body .client-logo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    width: 100px; /* Ajuste o tamanho desejado */
    height: 100px; /* Ajuste o tamanho desejado */
}

.modal-footer button {
    min-width: 120px;
}

.modal-header .btn-close {
    color: #fff;
}

#projetoDestaqueModal .modal-dialog {
    max-width: 800px; /* Ajuste a largura máxima desejada */
}

#projetoDestaqueModal .modal-body img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

#projetoDestaqueModal .modal-body .card-body {
    padding: 20px;
}

#projetoDestaqueModal .modal-body h5 {
    color: #007bff;
    margin-bottom: 10px;
}

#projetoDestaqueModal .modal-body p {
    color: #555;
}

#projetoDestaqueModal .modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#projetoDestaqueModal .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#projetoDestaqueModal .modal-footer .btn-secondary:hover,
#projetoDestaqueModal .modal-footer .btn-primary:hover {
    filter: brightness(90%);
}

.card img {
    width: 100%; /* Define a largura da imagem como 100% do contêiner pai */
    height: 300px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem cubra completamente o contêiner */
}



